/*
所有標籤基礎設定
*/

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
section,
body,
article,
aside,
nav,
div {
    margin: 0px;
    padding: 0px;
}

.thumbnail {
    border: 1px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.thumbnail img {
    width: 100%;
}

.thunmnail .caption h3 {
    font-size: 1em;
}

.thumbnail .caption p {
    font-size: 0.75em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none; 
}
